.page {
    max-width: 1280px;
    margin: 0 auto;
    background-color: black;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 1024px) {
    .page {
        margin: 0 5%;
    }
}

@media screen and (max-width: 580px) {
    .page {
        margin: 0;
    }
}