.profile__about {
    color: white;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 720px) {
    .profile__about {
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 720px) {
    .profile__about {
        text-align: center;
    }
}