.popup__about {
    width: 358px;
    padding-bottom: 13px;
    border: none;
    border-bottom: rgba(0, 0, 0, .2) 1px solid;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0 auto 30px;
    outline: none;
}