.header {
    max-width: 890px;
    margin: 45px auto 40px;
    border-bottom: #545454 solid 1px;
    padding-bottom: 41px;
}

@media screen and (max-width: 580px) {
    .header {
        margin: 28px auto 42px;
        padding-bottom: 31px;
    }
}