.popup__edit {
    max-width: 358px;
    padding-bottom: 13px;
    border: none;
    border-bottom: rgba(0, 0, 0, .2) 1px solid;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0;
    outline: none;
}

@media screen and (max-width: 580px) {
    .popup__about {
        width: 238px;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 45px;
    }
}