.profile__edit {
    width: 24px;
    height: 24px;
    background-image: url(/images/Edit\ Button.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #000;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
}

.profile__edit:hover {
    opacity: 0.6;
    transition: .5s ease-in-out;
}

@media screen and (max-width: 720px) {
    .profile__edit {
        width: 18px;
        height: 18px;
    }
}