.profile__about {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin: 0;
}

@media screen and (max-width: 720px) {
    .profile__about {
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 720px) {
    .profile__about {
        text-align: center;
    }
}