.popup__close {
    position: absolute;
    right: -40px;
    top: -40px;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
    transition: .5s ease-in-out;
}

@media screen and (max-width: 580px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}